.git
.github
.gitignore

/frontend/node_modules
/frontend/.svelte-kit
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.npmrc
/frontend/.eslintrc.js
/frontend/.eslintignore
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.DS_Store
README.md

/backend/store/*
!/backend/store/.gitkeep
/backend/rendering-engine/target
/backend/rendering-engine/state/*
!/backend/rendering-engine/state/.gitkeep
!/backend/rendering-engine/state/db.sqlite