.git
.github
.gitignore
.gitkeep
.DS_Store
README.md

**/node_modules/

/frontend/.svelte-kit
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.npmrc
/frontend/.eslintrc.js
/frontend/.eslintignore
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

/backend/target

/stores/**
!/stores/tmp
/databases/**
