.git
.github
.gitignore
.DS_Store
README.md

**/node_modules/

/frontend/.svelte-kit
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.npmrc
/frontend/.eslintrc.js
/frontend/.eslintignore
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

/backend/target
/backend/store/*
/backend/state/*
!/backend/state/db.sqlite
!/backend/state/schema.sql