_databases/
_static/
_static
_stores/

/result/

.DS_Store
node_modules/

/frontend/.svelte-kit
/frontend/build
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

/backend/target
