.DS_Store

/frontend/node_modules
/frontend/.svelte-kit
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*

/backend/target
/backend/store/*
!/backend/store/.gitkeep
/backend/state/*
!/backend/state/reference.sqlite