@import 'tailwindcss';

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/JetBrainsMono[wght].ttf');
	font-weight: 100 200 300 400 500 600 700 800 900;
}

@theme {
	--color-primary: rgb(255, 255, 255);
	--color-secondary: rgb(168, 168, 168);
	--color-tertiary: rgb(62, 62, 62);
	--color-accent: rgb(51, 156, 255);
}

* {
	font-family: 'JetBrains Mono', monospace;
	--border-radius: 10px;
}

body {
	margin: 0;
	background-color: #292929;
	overflow: invisible;
	color: white;
}

input {
	border: none;
}

select {
	border: none;
	cursor: pointer;

	font-weight: 500;
}

h1 {
	margin: 0;
}

.panel {
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: var(--border-radius);
	backdrop-filter: blur(45px);
	background: rgba(0, 0, 0, 0.85);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
	pointer-events: all;
}

.dark-layer {
	backdrop-filter: blur(15px);
	background: rgba(0, 0, 0, 0.15);
}

.outer-container {
	backdrop-filter: blur(15px);
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

	font-size: 14px;
	border-radius: 10px;
}

.inner-container {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}
