@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
	margin: 0;
	background-color: #292929;
	overflow: hidden;

	font-family: 'Roboto', sans-serif;
}

button {
	border: none;
	cursor: pointer;

	color: white;
	font-weight: 500;
	font-size: 15px;
}

select {
	border: none;
	cursor: pointer;

	color: white;
	font-weight: 500;
	font-size: 15px;
}

h1 {
	margin: 0;
}

.grey-heading {
	color: rgba(255, 255, 255, 0.6);
}

.panel {
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: 10px;
	backdrop-filter: blur(15px);
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	pointer-events: all;
}

.outer-container {
	backdrop-filter: blur(15px);
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	border-radius: 10px;
	font-family: 'JetBrains Mono', monospace;
}

.inner-container {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
