@font-face {
	font-family: 'JetBrains Mono';
	src: url('/JetBrainsMono[wght].ttf');
	font-weight: 100 200 300 400 500 600 700 800 900;
}

* {
	font-family: 'JetBrains Mono', monospace;
	color: white;
}

body {
	margin: 0;
	background-color: #292929;
	overflow: hidden;
}

button {
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

select {
	border: none;
	cursor: pointer;

	font-weight: 500;
}

h1 {
	margin: 0;
}

.secondary-text {
	color: rgba(255, 255, 255, 0.6);
}

.hidden {
	visibility: hidden;
}

.panel {
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: 10px;
	backdrop-filter: blur(15px);
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
	pointer-events: all;
}

.outer-container {
	backdrop-filter: blur(15px);
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

	font-size: 14px;
	border-radius: 10px;
}

.inner-container {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}
